<div class="question-box">
  <p><%= @query %></p>
  <p><em>- You</em></p>
</div>

<div class="answer-box">
  <h3><%= @answer %></h3>
  <p><em>- Your coach</em></p>
</div>

<%= link_to 'Ask for a new question', ask_path %>
